<!DOCTYPE html>
<html lang="nl">

<% include head.ejs %>

<body>

	<div class="timeline--container">
		<ol class="timeline">
			<% for(var i = 0; i < years.length; i++) { %>
				<li>
					<a href="#">
						<span>
							<%= years[i].year %>
						</span>
					</a>
					<ul>
						<% for(var j = 0; j < years[i].images.length; j++) { %>
							<li>
								<img src="<%= years[i].images[j].value %>">
							</li>
						<% } %>
					</ul>
				</li>
			<% } %>
		</ol>
	</div>
</body>
</html>
