include head.pug

	div(class="timeline--container")
		ol(class="timeline")
			each item in years
				li
					a(href="#")
						span= item.year
					ul
						each img in item.images
							li
								img(src= img.value)
