:root {
	/* Fonts: */
	--font-family: 'montserrat', arial, helvetica, sans-serif;

		/* Base fonts */
		--base-font-size: 1em;
		--base-font-weight: 300;
		--base-line-height: 1.4;

		/* Title fonts */
		--title-font-size: 1.5em;
		--title-font-weight: 500;
		--title-line-height: 1.4;

		/* Heading fonts */
		--heading-font-size: 1.5em;
		--heading-font-weight: 500;
		--heading-line-height: 1;

	/* Colors: */
	--color-primary: #e0434e;
	--color-black: #1f0002;
	--color-black-rgb: 31, 0, 2;
	--color-white: #ffffff;

	/* Spacing: */
	--spacing-unit: .75rem;
}
@media all and (min-width: 46.5em) {
	:root {
		--title-font-size: 2em;
	}
}

/*
====================
		General
====================
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

body {
	color: var(--color-black);
	background-color: var(--color-white);
	font-family: var(--font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

h1 {
	display: block;
	padding: var(--spacing-unit);
	margin: var(--spacing-unit);
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	line-height: var(--title-line-height);
}

h2 {
	font-size: var(--heading-font-size);
	font-weight: var(--heading-font-weight);
	line-height: var(--heading-line-height);
}

/*
====================
		Search results
====================
*/

/* Remove later: */
/*
.search-results {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: var(--spacing-unit);
}

.search-results li {
	display: block;
	margin: var(--spacing-unit);
}

.search-results a {
	display: inline-block;
	min-height: 3.125rem;
	padding: calc((3.125rem - 1.5em) / 2);
	border-bottom: 2px solid transparent;
	outline: 0;
	color: var(--color-black);
	font-size: 1.5em;
	text-decoration: none;
}
.search-results a:hover,
.search-results a:active,
.search-results a:focus {
	border-bottom-color: var(--color-primary);
}
*/

/*
====================
		Options
====================
*/

.options {
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.options h2 {
	order: 4;
	padding: var(--spacing-unit);
	margin: var(--spacing-unit);
}

/*
====================
		Search
====================
*/

.search {
	order: 1;
	position: relative;
	display: block;
	width: 100%;
	min-height: calc(3.125rem + (4 * var(--spacing-unit)));
	padding: var(--spacing-unit);
	background-color: var(--color-primary);
}

.inputs {
	display: flex;
	margin: var(--spacing-unit);
}

input[name='searchbar'] {
	display: block;
	width: calc(100% - (2 * var(--spacing-unit)));
	max-width: 30rem;
	height: 3.125rem;
	padding: calc((3.125rem - var(--base-font-size)) / 2);
	border: 0;
	border-left: .3125rem solid transparent;
	border-radius: 0;
	outline: 0;
	color: var(--color-black);
	background-color: var(--color-white);
	line-height: 1;
}
input[name='searchbar']::-webkit-input-placeholder {
	color: rgba(var(--color-black-rgb), .5);
}
input[name='searchbar']:focus {
	border-left-color: var(--color-black);
}

button[type='submit'] {
	display: block;
	height: 3.125rem;
	padding: calc((3.125rem - var(--base-font-size)) / 2);
	border: 0;
	border-radius: 0;
	outline: 0;
	color: var(--color-white);
	background-color: var(--color-black);
	line-height: 1;
}

.autocomplete a {
	display: block;
	width: calc(100% - (2 * var(--spacing-unit)));
	max-width: 30rem;
	height: 3.125rem;
	padding: calc((3.125rem - var(--base-font-size)) / 2);
	border-left: .3125rem solid transparent;
	outline: 0;
	margin: var(--spacing-unit);
	color: var(--color-black);
	background-color: var(--color-white);
	text-decoration: none;
}
.autocomplete a:hover,
.autocomplete a:active,
.autocomplete a.autocomplete-active {
	border-left-color: var(--color-black);
}

/*
====================
	Timeline
====================
*/

.timeline--container {
	order: 2;
	display: block;
	width: 100%;
	padding: calc(3 * var(--spacing-unit)) var(--spacing-unit);
	background-color: var(--color-black);
}

.timeline {
	position: relative;
	display: block;
	width: calc(100% - (2 * var(--spacing-unit)));
	height: .53125rem;
	border-bottom: .125rem solid var(--color-primary);
	margin: var(--spacing-unit);
}

.timeline > li {
	position: absolute;
	top: 0;
	display: flex;
	width: .9375rem;
	height: .9375rem;
	margin: 0 .0625rem;
}

.timeline > li a {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	outline: 0;
	background-color: var(--color-white);
	transition: all .3s ease-in-out;
}
.timeline > li a:focus,
.timeline > li a:hover,
.timeline > li a:active {
	z-index: 1;
	background-color: var(--color-primary);
	transform: scale(1.5, 1.5);
}

.timeline > li span {
	position: absolute;
	top: -1.5rem;
	display: block;
	opacity: 0;
	height: 1rem;
	color: var(--color-white);
	font-size: .75em;
	text-shadow: .0625rem .0625rem .3125rem rgba(var(--color-black-rgb), .8);
	transition: all .3s ease-in-out;
}
.timeline > li:first-child span,
.timeline > li:last-child span,
.timeline > li a:focus span,
.timeline > li a:hover span,
.timeline > li a:active span {
	opacity: 1;
}

/*
====================
		Images
====================
*/

.images--container {
	order: 3;
	display: none;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
	height: auto;
	background-color: var(--color-black);
}
.images--container.show {
	display: flex;
}

.close-btn {
	display: block;
	box-sizing: content-box;
	width: calc(2 * var(--spacing-unit));
	height: calc(2 * var(--spacing-unit));
	padding: calc((3.125rem - (2 * var(--spacing-unit))) / 2);
	border: 0;
	outline: 0;
	margin: 0;
	background-color: transparent;
	cursor: pointer;
}
.close-btn:focus,
.close-btn:hover {
	background-color: rgba(255, 255, 255, .2);
}

.close-btn svg {
	fill: var(--color-white);
}

.images--container ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	justify-items: start;
	align-items: start;
	overflow: scroll;
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 25rem);
	padding: var(--spacing-unit);
	padding-top: 0;
}

.images--container li {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: calc(100% - (2 * var(--spacing-unit)));
	height: auto;
	margin: var(--spacing-unit);
}

.images--container img {
	display: block;
	width: 100%;
	height: auto;
}
